navbar
.container.account__settings
  .card-block.card
    .card-title
      h1 {{ 'settings' | translate }}
    .card-text
      h4 {{ 'change_password' | translate }}
      form.form(name='form', ng-submit='vm.changePassword(form)', novalidate='')
        .form-group
          label {{ 'password_current' | translate }}
          input.form-control(type='password', name='password', ng-model='vm.user.oldPassword', mongoose-error='')
          p.help-block.text-danger
            | {{ vm.errors.other }}
        .form-group
          label {{ 'password_new' | translate }}
          input.form-control(type='password', name='newPassword', ng-model='vm.user.newPassword', ng-minlength='3', required='')
          p.help-block.text-danger(ng-show='(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || vm.submitted)')
            | {{ 'password_length' | translate }}
        .form-group
          label {{ 'password_new_confirm' | translate }}
          input.form-control(type='password', name='confirmPassword', ng-model='vm.user.confirmPassword', match='vm.user.newPassword', ng-minlength='3', required='')
          p.help-block.text-danger(ng-show='form.confirmPassword.$error.match && vm.submitted')
            | {{ 'password_match' | translate }}
        button.btn.btn-block.btn-primary(type='submit') {{ 'save' | translate }}
