.summary-table(id="raw-summary", ng-if="::$ctrl.fleets.isActive()")
  .summary-table__fleet(ng-repeat="fleet in :: $ctrl.fleets.all()")
    h5.summary-table__fleet__heading {{ fleet.name }}
    .table-responsive.hidden-print
      table.table(ng-class="{ 'table-inverse': $ctrl.inverse }")
        thead
          tr
            th(style="min-width: 5em")
              span.tag(style="visibility: hidden;") / <!-- Placeholder -->
              span.sr-only {{ 'group' | translate }}
            th(ng-repeat="input in :: $ctrl.summaries")
              | {{ :: input.meta.name | translate }}
        tbody
          tr(ng-repeat="group in :: fleet.groups.sorted() | filter:$ctrl.withSpecial | orderBy:$ctrl.orderGroups")
            th
              span.tag(ng-style="{ background: group.vars.group_color  }", ng-if="!group.special")
                | {{ :: group.name }}
              span.tag(ng-style="{ background: group.vars.group_color  }", ng-if="group.special")
                | {{ :: group.name | translate }}
            td(ng-repeat="input in $ctrl.summaries")
              meta-display(meta="input.meta", value="group.insights[input.meta.name]", subset="group.insights")
    .visible-print-block
      table.table
        thead
          tr
            th
              span.tag(style="visibility: hidden;") / <!-- Placeholder -->
            th(ng-repeat="group in :: fleet.groups.sorted() | filter:$ctrl.withSpecial | orderBy:$ctrl.orderGroups")
              span.tag(ng-style="{ background: group.vars.group_color  }", ng-if="!group.special")
                | {{ :: group.name }}
              span.tag(ng-style="{ background: group.vars.group_color  }", ng-if="group.special")
                | {{ :: group.name | translate }}
        tbody
          tr(ng-repeat="input in $ctrl.summaries")
            th
              | {{ :: input.meta.name | translate }}
            td(ng-repeat="group in :: fleet.groups.sorted() | filter:$ctrl.withSpecial")
              meta-display(meta="input.meta", value="group.insights[input.meta.name]", subset="group.insights")
