.main__fleets
  .main__header
    ol.list-inline.main__header__breadcrumbs
      li(ng-repeat="crumb in $root.$breadcrumbs", ng-class="{ 'active' : $last }")
        a(ng-if="!$last", href="{{ crumb.href }}") {{ crumb.title }}
        span(ng-if="$last") {{ crumb.title }}
  .row
    .col-xs-4.col-sm-3.col-md-2.main__fleets__list
      ul.list-unstyled
        li.main__fleets__list__item(ng-repeat="fleet in $ctrl.fleets.all()",
                                    ng-class="{ 'main__fleets__list__item--active': fleet === $ctrl.fleet }")
          a.main__fleets__list__item__name(ui-sref="main.fleets({ fleet: fleet._id })")
            div {{ fleet.name }}
            div.text-muted.small {{ fleet.groups.length({ special: false }) }} group(s)
      button.btn.btn-link.btn-block(ng-click="$ctrl.createFleet()")
        i.fa.fa-plus-circle
        | &nbsp;{{ 'A a fleet' | translate }}
    .col-xs.main__fleets__view.card
      ui-view
        .row
          .col-md-8.main__fleets__view__groups
            h5.main__fleets__view__groups__heading
              | {{ 'Your groups' | translate }}
            ul.list-unstyled.row
              li.col-lg-4.col-md-6.col-sm-12.col-xs-12(ng-repeat="group in $ctrl.fleet.groups.filter({ special: false }) track by $index")
                .main__fleets__view__groups__item
                  h4.main__fleets__view__groups__item__heading
                    | {{ group.vars.group_name || group.name }}
                    .small.text-muted {{ group.insights.mileage | number }} km/year
                    .main__fleets__view__groups__item__heading__color(ng-style="{ background: group.vars.group_color }")
                  .main__fleets__view__groups__item__footer
                    span.pull-xs-right
                      a(ui-sref="main.fleets.groups.edit({group: $ctrl.fleet.groups.indexOf(group) })")
                        i.fa.fa-edit
                        | &nbsp;Edit
                    strong {{ group.vars.num_of_vehicles }} vehicle(s)
              li.col-lg-4.col-md-6.col-sm-12.col-xs-12
                .main__fleets__view__groups__item.main__fleets__view__groups__item--link
                  a.main__fleets__view__groups__item__add-group(ui-sref=".groups")
                    | {{ 'Add a group of vehicles' | translate }}

            h5.main__fleets__view__groups__heading
              | {{ 'Alternative transporations' | translate }}
            ul.list-unstyled.row
              li.col-lg-3.col-md-4.col-sm-6.col-xs-6(ng-repeat="group in $ctrl.fleet.groups.filter({ special: true }) track by $index")
                .main__fleets__view__groups__item.main__fleets__view__groups__item--special
                  h4.main__fleets__view__groups__item__heading
                    | {{ (group.vars.group_name || group.name) | translate }}
                    .small.text-muted {{ group.insights.mileage | number }} km/year
                    .main__fleets__view__groups__item__heading__color(ng-style="{ background: group.vars.group_color }")
                  .main__fleets__view__groups__item__footer
                    span.pull-xs-right
                      a(ui-sref="main.fleets.groups.edit({group: $ctrl.fleet.groups.indexOf(group) })")
                        i.fa.fa-edit
                        | &nbsp;Edit


          .col-md-4.main__fleets__view__compare(ng-init="$ctrl.compareWith = $ctrl.anotherFleet()")
            h4.main__fleets__view__compare__heading Fleet data
            form
              .form-group
                label(for="input-compare-with") Compare with
                select.form-control(ng-options="fleet as fleet.name disable when fleet == $ctrl.fleet for fleet in $ctrl.fleets.all()", ng-model="$ctrl.compareWith", id="input-compare-with")
                  option(value="") ⎼⎼
            div(ng-if="$ctrl.compareWith")
              .main__fleets__view__compare__section
                h6.main__fleets__view__compare__section__heading {{ 'Total kilometers' | translate }}
                .main__fleets__view__compare__section__bar(ng-repeat="fleet in [$ctrl.fleet, $ctrl.compareWith] track by $index")
                  .main__fleets__view__compare__section__bar__fill(ng-style="$ctrl.compareStyle(fleet, $ctrl.mileage)")
                    .main__fleets__view__compare__section__bar__fill__name
                      | {{ fleet.name }}
                  .main__fleets__view__compare__section__bar__value
                    | {{ $ctrl.mileage(fleet) | number }} km/year
                .main__fleets__view__compare__section__unequal.text-warning(ng-show="$ctrl.arefleetsUnequal($ctrl.mileage)")
                  i.fa.fa-warning
                  =" "
                  strong {{ $ctrl.biggest($ctrl.mileage).name }}
                  =" "
                  | has {{ $ctrl.delta($ctrl.mileage) | number }} km/year more than
                  =" "
                  strong {{ $ctrl.smallest($ctrl.mileage).name }}
                  ="."

              .main__fleets__view__compare__section
                h6.main__fleets__view__compare__section__heading {{ 'Total vehicles' | translate }}
                .main__fleets__view__compare__section__bar(ng-repeat="fleet in [$ctrl.fleet, $ctrl.compareWith] track by $index")
                  .main__fleets__view__compare__section__bar__fill(ng-style="$ctrl.compareStyle(fleet, $ctrl.vehicles)")
                    .main__fleets__view__compare__section__bar__fill__name
                      | {{ fleet.name }}
                  .main__fleets__view__compare__section__bar__value
                    | {{ $ctrl.vehicles(fleet) | number }}
