.main__fleets {

  & > .row {
    margin:$spacer * 2;
  }

  &__list {
    white-space: normal;
    padding:0;
    position: relative;
    z-index:100;

    ul {
      margin-top:$spacer;
    }

    &__item {
      z-index:80;
      position: relative;

      color: rgba($body-color, .7);
      background: lighten($view-bg, 1);
      border:lighten($view-border, 5) 1px solid;
      border-right:0;

      margin-left:$spacer;
      font-weight: bold;

      &:not(:last-child):not(&--active) {
        border-bottom:0;
      }

      &__name {
        color:inherit;
        display: block;
        padding:$spacer;
        padding-bottom:$spacer/2;

        &:hover {
          text-decoration: none;
        }
      }

      &__duplicate {
        color: $link-color !important;
        font-weight: normal;
        padding:$spacer/2 $spacer;
        font-size:.9em;
        display: block;
        border-top: lighten($view-border, 5) 1px dashed;
        cursor: pointer;
        white-space: normal;
      }

      &:not(&--active):hover {
        background:$view-bg;
      }

      &--active {
        z-index:100;
        margin-right:-1px;
        margin-left:0;
        color:$body-color;
        background:$view-bg;
        border-color:$view-border;

        &:not(:last-child):after {
          content:"";
          position: absolute;
          top:100%;
          left:$spacer;
          right:1px;
          height:$spacer;
          @include gradient-y(rgba($view-border, 0.5), rgba($view-border, 0));
        }
      }
    }
  }

  &__view {
    background:$view-bg;
    border-color: $view-border;
    padding:0;

    &__how-to-optimise {
      border-bottom:1px $view-border solid;
      padding-bottom:$spacer;
    }

    &__groups {
      padding: 0 $spacer * 2;
      padding-left:$spacer * 3;

      .col {
        width: 100%;
        max-width: 240px;
        margin-left:$spacer;
        margin-right:$spacer;
      }

      &__fleet-name {
        padding-top: $spacer * 2;
        padding-bottom: $spacer;
        font-size: 2em;

        input.form-control {
          padding:$spacer/2 $spacer;
          font-size: inherit;

          &:not(:focus) {
            background:transparent;
            @include box-shadow(none);

            &:hover, &:hover + .input-group-addon  {
              background: rgba($input-bg, .5);
              border-color: rgba($input-border-focus, .5);
            }
          }

          &:focus + .input-group-addon {
            background:$input-border-focus;
            outline: none;
            color:white;
          }
        }

        .input-group-addon {
          line-height: 2em;
          background: transparent;
        }
      }

      & > .row {
        margin:$spacer * 2 $spacer * -1;
      }

      &__heading {
        margin:$spacer / 2 0 $spacer * 2;
        font-size: .9em;
        font-weight: bolder;
        text-transform: uppercase;
        color:rgba($body-color, .5);
      }

      &__item {
        position: relative;
        display: block;
        color:$body-color;

        background: lighten($view-bg, 10);
        margin-bottom:$spacer*2;
        border:$view-border 1px solid;
        @include box-shadow(0 2px 10px 0 rgba($view-border, .5));

        & > a {
          position: absolute;
          top:0;
          left:0;
          right:0;
          bottom:0;
        }

        &--special {
          font-size:.9em;
        }
        &--special &__heading {
          text-shadow:0 1px 0 rgba(white, .5);
        }

        &--savings:after {
          content:"";
          border:1px solid rgba($view-border, .6);
          position: absolute;
          top:-1em;
          bottom:-1em;
          left:-1em;
          right:-1em;
        }

        &--savings &__heading__color {
          bottom:auto;
          padding-top:100%;
        }

        &--savings &__footer {
          @include gradient-y(rgba(white, 0), rgba(white, 0.6));
        }

        &__heading {
          text-align: center;
          position: absolute;
          z-index: 10;
          top:0;
          left:0;
          right:0;
          margin:0;
          padding: .8em .1em;
          font-size: .8em;
          text-transform: uppercase;
          font-weight: normal;
          color:$body-color;
          @include box-shadow(0 0 $spacer/2 0 rgba(black, 0.1));

          &__color {
            position: absolute;
            bottom:0;
            left:0;
            right:0;
            top:0;
            z-index: -1;

            &:after {
              content:"";
              position: absolute;
              top:0;
              left:0;
              right:0;
              bottom:2px;
              @include gradient-y(rgba(white, 0.8), rgba(white, 0.9));
            }
          }
        }

        &__image {
          position: absolute;
          left:$spacer;
          max-width: 40%;
          width:100%;
          bottom: 25%;

          @media (max-width: 1100px) {
            bottom: $line-height-base * 1rem + $spacer;
          }
        }

        &__footer {
          z-index: 20;
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          padding:$spacer;
          font-size: .9em;
          line-height: $line-height-base;
          height: $line-height-base;
          white-space: nowrap;
          pointer-events: none;

          span, i {
            color:mix($text-muted, $link-color);
          }

          a {
            cursor: pointer;
            pointer-events: auto;
          }
        }

        &:before {
          content:"";
          width:100%;
          padding-top:100%;
          display: block;
        }

        &--link {
          border:1px dashed mix($link-color, $view-border);
          white-space:normal;
        }

        &__add-group {
          position: absolute;
          top:50%;
          left:50%;
          transform: translate(-50%, -50%);
          display: block;
          text-align: center;
          font-size: .9em;
          line-height: 1.1em;

          &:hover {
            text-decoration: none;
          }

          &:before {
            content:"+";
            display: block;
            margin:auto;
            height:2em;
            line-height:1.7em;
            width:2em;
            background: $link-color;
            font-weight: bold;
            color:white;
            border-radius:1em;
            margin-bottom:1em;
          }
        }
      }

      &__footer {
        background: inherit;
        white-space: nowrap;
        color:$card-border-color;
        border-top:1px solid $card-border-color;
        padding:$spacer 0;
      }
    }


    &__compare {
      background: white;
      margin-bottom: 0;
      border-left: $view-border 1px solid;
      box-shadow: 0 2px 10px 0 $view-border;
      overflow: auto;
      position: relative;
      max-width: 350px;

      &--disabled {
        pointer-events: none;

        &:after {
          content:"";
          position: absolute;
          top:0;
          bottom:0;
          left:0;
          right:0;
          opacity:0.8;
          background:url('../assets/images/worn_dots.png');
        }
      }

      &__heading {
        text-align: center;
        padding:$spacer*2 $spacer;
        margin-bottom: $spacer * 2;
        text-transform: uppercase;
        font-weight: bold;
        font-size:1.2em;
        position: relative;

        &:after {
          content:"";
          position: absolute;
          top:100%;
          left:50%;
          width:30%;
          margin-left:-15%;
          height:1px;
          background:$view-border;
        }
      }

      &__section {
        border-top:1px dashed $view-border;
        margin-top:$spacer;
        padding-top:$spacer;

        &--unequal &__bar {
          border:1px solid lighten($brand-secondary, 10);
          background:lighten($brand-secondary, 25);
          &__fill {
            background: lighten($brand-secondary, 0);
          }
        }

        &__heading {
          padding:$spacer 0;
          text-transform: uppercase;
          font-weight: bold;
          text-align: center;
          font-size:1em;
          color: $text-muted;
        }

        &__unequal {
          font-size:.8rem;
          padding: $spacer / 2 $spacer;
        }


        &__bar {
          position: relative;
          height: 3rem;
          border:1px solid lighten($view-border, 5);
          background:lighten($view-border, 10);
          display: block;
          width:100%;
          border-radius: 3px;
          margin-bottom:$spacer;
          line-height: 3rem;
          white-space: nowrap;
          color:rgba($body-color, .7);

          &:after {
            content:"";
            border:3px solid white;
            border-radius: inherit;
            position: absolute;
            top:0;
            right:0;
            left:0;
            bottom:0;
          }

          &__fill {
            position: absolute;
            top:0;
            bottom:0;
            left:0;
            background:$view-border;
            width:100%;
            border-radius: inherit;

            &__name {
              padding:0 $spacer;
            }
          }

          &__value {
            position: absolute;
            right:0;
            top:0;
            height:inherit;
            padding:0 $spacer;
            font-size:.8rem;
          }
        }
      }
    }
  }

}
