.main__fleets
  .main__fleets__header
    h1 Fleets
  .row
    .col-xs-4.col-sm-3.col-md-2.main__fleets__list
      ul.list-unstyled
        li.main__fleets__list__item(ng-repeat="fleet in $ctrl.fleets.all()",
                                    ng-class="{ 'main__fleets__list__item--active': fleet === $ctrl.fleet }")
          a.main__fleets__list__item__name(ui-sref="main.fleets({ fleet: fleet._id })")
            div {{ fleet.name }}
            div.text-muted.small {{ fleet.groups.length() }} group(s)
      button.btn.btn-link.btn-block(ng-click="$ctrl.createFleet()")
        i.fa.fa-plus-circle
        | &nbsp;A a fleet
    .col-xs.main__fleets__view.card
      ui-view
        .main__fleets__view__groups
          ul.list-unstyled.row
            li.col-lg-2.col-md-3.col-sm-12.col-xs-12(ng-repeat="group in $ctrl.fleet.groups.all() track by $index")
              .main__fleets__view__groups__item
                h4.main__fleets__view__groups__item__heading
                  div {{ group.name }}
                  div.small.text-muted {{ group.insights.mileage | number }} km/year
                .main__fleets__view__groups__item__footer
                  span.pull-xs-right
                    a(ui-sref="main.fleets.groups.edit({group: $index })")
                      i.fa.fa-edit
                      | &nbsp;Edit
                  strong {{ group.vars.num_of_vehicles }} vehicle(s)
            li.col-lg-2.col-md-3.col-sm-12.col-xs-12
              .main__fleets__view__groups__item.main__fleets__view__groups__item--link
                a.main__fleets__view__groups__item__add-group(ui-sref=".groups")
                  | Add a group of vehicles
