.print {

  &__page {
    width:100%;
    margin:0;
    margin-bottom:20mm;
    display: block;
    position: relative;
    page-break-inside:avoid;
    padding:$spacer * 2 $spacer;
    page-break-after: always;
  }

  &__chart {

    width:50%;
    margin:0;
    display: block;
    float: left;
    position: relative;
    page-break-inside:avoid;
    margin-top:10mm;
    margin-bottom:10mm;

    &--grouped {
      clear:both;
      width:100%;
      page-break-before: always !important;
      border-top:none;

      .chart-grouped {
        position: relative;
        margin:0;
        border-right:0;
        border-left:0;

        @include clearfix();

        &__chart {
          width:50%;
          float:left;
          page-break-inside:avoid;
          margin:0;
          margin-top:10mm;
          margin-bottom:10mm;
          position: relative;

          /* &__heading {
            position: absolute;
            bottom:100%;
            left:0;
            right:0;
            margin:0;
          } */
        }
      }
    }

    .card {
      overflow: visible;
      margin:0 $spacer;
    }

    .c3 {
      min-width: 350px;
      pointer-events:none;
    }

  }
}
