.print(ng-class="{ 'print--clip':  $ctrl.clip }")
  .print__chart(ng-repeat="meta in :: $ctrl.display",
                ng-class="{ 'print__chart--last': $last, 'print__chart--grouped': meta.bygroup }")
    chart(meta="meta", ng-if="!meta.bygroup")
    .phantomjs_reset_pagination
      chart-grouped(meta="meta", ng-if="meta.bygroup")
