.print {

  &--clip {
    padding:0;
    overflow: hidden;

    .print__chart {

      .card {
        border:0;
        margin:0;

        .chart__heading {
          display: none;
        }

        .chart__c3 {
          padding:0;
        }
      }

      .c3 {
        padding:0;
        height:100vh;
      }
    }
  }

  &__chart {

    width:50%;
    margin:0;
    display: block;
    float: left;
    position: relative;
    page-break-inside: avoid;

    .card {
      margin:20px;
      overflow: hidden;
    }

    .c3 {
      min-width: 350px;
      pointer-events:none;
    }

  }
}
