.print {

  &__page {
    width:100%;
    min-height: 100%;
    margin:0;
    display: block;
    position: relative;
    padding:10mm;
    page-break-inside:avoid;
    page-break-after: always;
  }

  &__chart {

    &--grouped {
      padding:0;
      width:100%;
      border-top:none;

      .chart-grouped {
        position: relative;
        margin:0;
        border-right:0;
        border-left:0;

        &__chart {
          page-break-inside:avoid;
          margin:0;
          padding-top:10mm;
          padding-bottom:10mm
        }
      }
    }

    .card {
      overflow: visible;
      margin:0 $spacer;
    }

    .c3 {
      min-width: 170mm;
      pointer-events:none;
    }

  }
}
