.navbar {

  & &-brand {
    float:none;
    img {
      display: inline-block;
    }
  }

  &-nav {
    font-weight: bold;

    .nav-item + .nav-item {
      margin-left: 1.5rem;
    }

    .btn.btn-outline {
      color:white;
      border-color:white;
    }
  }
}
