nav.navbar.navbar-dark.bg-primary.navbar-full
  .container-fluid
    span.navbar-brand
      | {{ 'app_title' | translate }}
    ul.nav.navbar-nav.float-xs-right
      li.nav-item(ui-sref-active-eq='active')
        .nav-link(ui-sref='main')
          | {{ 'home_link' | translate }}
      li.nav-item(ui-sref-active-eq='active')
        a.nav-link(ui-sref='main.fleets')
          span(ng-show="$ctrl.fleets.isActive()") {{ 'your_fleets' | translate }}
          span(ng-hide="$ctrl.fleets.isActive()") {{ 'create_a_fleet' | translate }}
      li.nav-item(ui-sref-active-eq='active')
        a.nav-link(ui-sref='main.visualization')
          | {{ 'visualization_link' | translate }}
      li.nav-item(ui-sref-active-eq='active')
        a.nav-link(ui-sref='main.page({id: "about"})')
          | {{ 'about_link' | translate }}
      li.nav-item
        a.nav-link(translate-attr="{ href: 'tutorial_href' }", target="_blank")
          | {{ 'tutorial_link' | translate }}
      li.nav-item(ng-hide='$ctrl.isLoggedIn()', ui-sref-active='active')
        a.nav-link(ui-sref='signup')
          | {{ 'signup_link' | translate }}
      li.nav-item(ng-hide='$ctrl.isLoggedIn()', ui-sref-active='active')
        a.btn.btn-warning(ui-sref='login')
          | {{ 'login_link' | translate }}
      li.nav-item(ng-show='$ctrl.isLoggedIn()', ui-sref-active='active')
        a.nav-link(ui-sref='settings')
          | {{ 'settings_link' | translate }}
      li.nav-item(ng-show='$ctrl.isLoggedIn()')
        a.btn.btn-outline(ui-sref='logout')
          | {{ 'logout_link' | translate }}
      li.nav-item.dropdown(uib-dropdown="")
        a.nav-link.dropdown-toggle(uib-dropdown-toggle="", href="#")
          | {{ 'language_link' | translate }}
        .dropdown-menu.dropdown-menu-right(uib-dropdown-menu="", role="menu")
          a.dropdown-item(href="#", ng-click="$ctrl.use('en')")
            | English
          a.dropdown-item(href="#", ng-click="$ctrl.use('de')")
            | Deutsch
