<nav class="navbar navbar-dark bg-primary navbar-full">
  <div class="container">
    <button class="navbar-toggler hidden-sm-up" type="button" ng-click="$ctrl.isCollapsed = !$ctrl.isCollapsed">
      <span class="sr-only">Toggle navigation</span>
      &#9776;
    </button>
    <a href="/" class="navbar-brand">
      Öko Institut
    </a>
    <div uib-collapse="$ctrl.isCollapsed" class="collapse navbar-toggleable-xs pull-sm-right">
      <ul class="nav navbar-nav">
        <li ng-repeat="item in $ctrl.menu" ui-sref-active="active" class="nav-item">
          <a ui-sref="{{ item.state }}" class="nav-link">
            {{ item.title }}
          </a>
        </li>
        <li ng-hide="$ctrl.isLoggedIn()" ui-sref-active="active"  class="nav-item">
          <a ui-sref="signup" class="nav-link">
            Sign up
          </a>
        </li>
        <li ng-hide="$ctrl.isLoggedIn()" ui-sref-active="active"  class="nav-item">
          <a ui-sref="login" class="nav-link">
            Login
          </a>
        </li>
        <li ng-show="$ctrl.isLoggedIn()"  class="nav-item">
          <p class="nav-link">
            Hello {{ $ctrl.getCurrentUser().username }}
          </p>
        </li>
        <li ng-show="$ctrl.isLoggedIn()" ui-sref-active="active"  class="nav-item">
          <a ui-sref="settings" class="nav-link">
            <span class="fa fa-cog"></span>
          </a>
        </li>
        <li ng-show="$ctrl.isLoggedIn()"  class="nav-item">
          <a ui-sref="logout" class="nav-link">
            Logout
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
