nav.navbar.navbar-dark.bg-primary.navbar-full
  .container-fluid
    a.navbar-brand(href='/') &Ouml;ko Institut
    ul.nav.navbar-nav.pull-xs-right
      li.nav-item(ng-repeat='item in $ctrl.menu', ui-sref-active-eq='active')
        a.nav-link(ui-sref='{{ item.state }}')
          | {{ item.title }}
      li.nav-item(ng-hide='$ctrl.isLoggedIn()', ui-sref-active='active')
        a.nav-link(ui-sref='signup')
          | Sign up
      li.nav-item(ng-hide='$ctrl.isLoggedIn()', ui-sref-active='active')
        a.nav-link(ui-sref='login')
          | Login
      li.nav-item(ng-show='$ctrl.isLoggedIn()', ui-sref-active='active')
        a.nav-link(ui-sref='settings')
          span.fa.fa-cog
      li.nav-item(ng-show='$ctrl.isLoggedIn()')
        a.nav-link(ui-sref='logout')
          | Logout
