.main__fleets__groups
  .main__fleets__groups__header
    h3 Create a group of vehicles
    p.lead Through regular and organized vehicle use scheduling.
  .row
    .col-md-5.push-md-7.push-lg-6.text-muted
      | Each year German corporations approve 800,000 new passenger cars to add to their fleets. Such stocks represent huge potential for electric mobility. Using electric vehicles in corporate vehicle fleets offers many advantages, even over private electric vehicle use. Firstly, in corporate fleets an electric vehicle&rsquo;s restricted driving range can be compensated by the ability to switch to conventional vehicles in the fleet when a longer range is needed. As well, electric vehicle charging stations can be more easily installed directly at the company to service several vehicles than at private homes for only a few vehicles. Through regular and organized vehicle use scheduling, the electrical and conventional vehicles can be easily shared between employees to improve cost-effectiveness.
    .col-md-7.col-lg-6.pull-md-5
      .card
        form.card-block(ng-submit="$ctrl.createGroup()")
          fieldset.form-group(ng-repeat='input in $ctrl.inputs')
            div(ng-switch=":: input.getType()")
              div(ng-switch-when="enum")
                .main__fleets__groups__input.main__fleets__groups__input--select.custom-controls-stacked
                  legend.main__fleets__groups__input__title {{ input.meta.label }}
                  label.custom-control.custom-radio(ng-repeat="value in $ctrl.getInputValues(input).range track by $index")
                    input(type="radio", required, name="{{ input.meta.name }}", ng-value="value", ng-model="$ctrl.group[input.meta.name]").custom-control-input
                    span.custom-control-indicator
                    span.custom-control-description
                      | &nbsp;{{ value | translate }}
                      span.text-muted.small(uib-tooltip="{{ value + '-tooltip' | translate }}", ng-show="input.meta.hashelp")
                        =" "
                        i.fa.fa-info
              div(ng-switch-when="interval")
                .main__fleets__groups__input.main__fleets__groups__input--select.custom-controls-stacked(ng-if=":: !input.meta.hasslider")
                  legend.main__fleets__groups__input__title {{ input.meta.label }}
                  label.custom-control.custom-radio(ng-repeat="value in $ctrl.getInputValues(input).range track by $index")
                    input(type="radio", required, name="{{ input.meta.name }}", ng-value="value", ng-model="$ctrl.group[input.meta.name]").custom-control-input
                    span.custom-control-indicator
                    span.custom-control-description
                      | &nbsp;{{ value | translate }}
                      span.text-muted.small(uib-tooltip="{{ value + '-tooltip' | translate }}", ng-show="input.meta.hashelp")
                        =" "
                        i.fa.fa-info
                .main__fleets__groups__input.main__fleets__groups__input--slider(ng-if=":: input.meta.hasslider")
                  legend.main__fleets__groups__input__title {{ input.meta.label }}
                  div(ng-init="$ctrl.group[input.meta.name] = $ctrl.getInputValues(input).value")
                    rzslider(rz-slider-model="$ctrl.group[input.meta.name]", rz-slider-options="$ctrl.getInputValues(input)")
          button.btn.btn-primary(type="submit") Create
