.main__visualization__download
  .modal-body
    div(ng-show="!$ctrl.print || $ctrl.print.status === 'pending'")
      h5
        i.fa.fa-cog.fa-spin.fa-fw
        | &nbsp;Preparing download...
      p.small.text-muted It will start automatically.
    div(ng-show="$ctrl.print.status === 'done'")
      h5
        i.fa.fa-check.fa-fw
        | &nbsp;Download ready
      p.text-muted.small.
        <a href="{{ $ctrl.print.url }}", ng-click="$ctrl.modal.close()">Click here</a>
        if the download didn't start.
      .text-xs-right
        button.btn.btn-primary.btn-sm(ng-click="$ctrl.modal.close()") Close
