.main__visualization
  .main__visualization__inactive(ng-if="!$ctrl.fleets.isActive()")
    .container
      p.lead  {{ 'visualization_inactive_alert' | translate }}
      p.lead
        a.btn.btn-primary.btn-lg(ui-sref="main.fleets")
          | {{ 'create_fleet' | translate }}
  .main__visualization__introduction
    h2 {{ 'pdf_title' | translate }}
    p.lead(ng-bind-html="'pdf_description' | translate:{ fleets: $ctrl.fleetNamesStr(), now: ($ctrl.now | date:('date_format' | translate)) }")
    .container.main__visualization__introduction__logos
      .row.text-center
        .col-xs-3
          img.img-fluid(src='/assets/images/epfh.png')
        .col-xs-3
          img.img-fluid(src='/assets/images/oeko.png')
        .col-xs-3
          img.img-fluid(src='/assets/images/neu.png')
        .col-xs-3
          img.img-fluid(src='/assets/images/wbz.png')
  .main__visualization__summary
    .container
      h4 {{ 'summary_title' | translate }}
      summary-table(fleets="$ctrl.fleets", summaries="$ctrl.summaries")
  .container(ng-if="$ctrl.fleets.isActive()")
    .row
      .col-md-3.push-md-9
        .main__visualization__sidebar(sticky="")
          ul.list-unstyled
            li(du-scrollspy="raw-summary")
              a(href="#raw-summary", du-smooth-scroll="") {{ 'summary_title' | translate }}
            li(ng-repeat="meta in $ctrl.display", du-scrollspy="{{ meta.name }}")
              a(href="#{{ meta.name }}", du-smooth-scroll="") {{ meta.name | translate }}
            li(du-scrollspy="raw-basic")
              a(href="#raw-basic", du-smooth-scroll="") {{ 'basic_information_title' | translate }}
          a.btn.btn-link.btn-block(ng-click="$ctrl.openDownload()")
              i.fa.fa-file-pdf-o.fa-fw
              | &nbsp;{{ 'download_as_pdf' | translate }}

      .col-md-9.pull-md-3
        .main__visualization__overview.card.mb-2
          h3.card-title.mx-2.my-2 {{ 'overview_title' | translate }}
          .mb-2(ng-repeat="meta in $ctrl.display | filter:{overviewoffindings: true} | orderBy:'overviewoffindingsrank'")
            h5.card-subtitle.mx-2.mb-1 {{ :: meta.name | translate }}
            div(ng-if="meta.type === 'stacked_bar'")
              table.table.table-sm(ng-repeat="fleet in $ctrl.fleets.all()")
                caption.px-2.pt-0 {{ :: fleet.name }}
                tbody
                  tr(ng-repeat="(key, value) in fleet.TCO[meta.name]", ng-if="value !== 0")
                    td.px-2 {{ :: key | translate }}
                    td {{ :: value | number:2 }}{{ :: meta.unit | translate }}
            div(ng-if="meta.type === 'bar'")
              table.table.table-sm
                tbody
                  tr(ng-repeat="fleet in $ctrl.fleets.all()")
                    td.px-2 {{ :: fleet.name }}
                    td {{ :: fleet.TCO[meta.name] | number }}{{ :: meta.unit | translate }}

        .main__visualization__view
          .main__visualization__view__chart(ng-repeat="meta in :: $ctrl.display", meta="meta")
            chart(meta="meta", ng-if="!meta.bygroup")
            chart-grouped(meta="meta", ng-if=" meta.bygroup")
          .main__visualization__view__raw.card
            .card-block
              h3 {{ 'basic_information_title' | translate }}
            summary-table(fleets="$ctrl.fleets", summaries="$ctrl.basics", id="raw-basic")
