.main__visualization {

  @media print {
    .container {
      padding:0;
      max-width: none;

      .col-md-9.pull-md-3 {
        max-width:100%;
        display: block;
        flex:1;
        right:0;
        padding:0;
      }

      .row {
        margin:0;
      }
    }
  }

  &__introduction {
    padding:10mm;
    page-break-inside:avoid;
    page-break-after: always;
    display: none;

    @media print {
      display: block;
    }

    h2 {
      font-weight: bolder;
      position: relative;
      padding-bottom:$spacer;
      margin-bottom:$spacer;

      &:after {
        content:"";
        position: absolute;
        top:100%;
        left:0;
        right:0;
        height:4px;
        @include gradient-directional($brand-primary, $brand-success);
      }
    }

    &__logos {
      max-width: 100mm;
      margin:0 auto;
      margin-top:30mm;
      position: relative;
      align-items: center;
      overflow: hidden;

      .col-xs-3 {
        position: relative;
        float:left;

        &:not(:last-child):after {
          content:"";
          position: absolute;
          top:-1000%;
          bottom:-1000%;
          left:100%;
          width:1px;
          background:rgba($brand-primary, 0.2);
        }
      }
    }
  }

  &__inactive {
    text-align: center;
    padding:$spacer * 3 0;

    &:after {
      z-index:-1;
      content:"";
      position: absolute;
      top:0;
      bottom:0;
      left:0;
      right:0;
      opacity:0.8;
      background:url('../assets/images/worn_dots.png');
    }
  }

  &__summary {
    color:white;
    background: $brand-inverse;
    border-bottom:darken($brand-inverse, 25) 1px solid;
    margin-bottom:$spacer * 2;
    white-space: nowrap;
    margin-bottom: 4 * $spacer;
    padding: 2 * $spacer;
    z-index:-1;

    @media print {
      background:transparent;
      color: $body-color;
      border:0;
      padding: 10mm;
      white-space: normal;

      h4 {
        margin:0;
      }
    }

    &__fleet {
      page-break-after: always;

      &__heading {
        text-align: center;
        font-weight:bold;
        text-transform: uppercase;
        color: rgba(white, .5);
        font-size:1em;
        padding-top:$spacer;
        @media print {
          color:inherit;
        }
      }
    }

    .summary-table {

      th, td,
      thead th {
        border-color: lighten($brand-inverse, 5);
        background: darken($brand-inverse, 5);

        @media print {
          background: $view-bg !important;
          border-color: $table-border-color;
          color: $body-color;
        }
      }
    }
  }

  &__sidebar {

    @media print {
      display: none;
    }

    &.sticky {
      top:$spacer;
    }

    a.btn-link {
      border:$link-color 2px solid;
      border-radius: 2px;
    }

    li {
      font-size:.9em;
      padding:0 $spacer;
      border-left:3px solid transparent;

      a {
        color:$text-muted;
        margin-bottom:.4em;
        display: block;
      }

      &.active {
        font-weight: bold;
        border-left:3px solid $link-color;

        a {
          color: $link-color;
        }
      }

    }
  }

  &__view {
    @media print {
      padding:0;

      .card {
        margin:0;
      }

      &__chart {
        min-height: 100%;
        margin:0;
        display: block;
        position: relative;

        .chart {
          padding:0;
          margin: 0 10mm;
          page-break-inside:avoid;
          page-break-before: always;
          -webkit-transform: translateY(10mm);
        }

        .chart-grouped {
          position: relative;
          margin:0;
          border-right:0;
          border-left:0;
          page-break-inside:avoid;
          page-break-before: always;

          &__chart {
            page-break-inside:avoid;
            margin: 0 10mm;
            padding-top:10mm;
            padding-bottom:10mm
          }
        }
      }
    }

    &__raw {
      font-size: .8em;
      white-space: nowrap;
      margin-bottom: 4 * $spacer;

      @media print {
        page-break-before: always;
        border:0;
        white-space: normal;
        margin:0;

        &, .card-block {
          padding:0;
          margin:0;
        }

        h3 {
          margin:0 10mm;
        }

        .summary-table__fleet {
          padding:0 10mm;
        }
      }

      .summary-table .table {
        max-width: 100%;
        margin:0;
        background:  mix($card-border-color, $card-bg, 15);
      }
    }
  }
}
