.main__visualization
  .main__visualization__inactive(ng-if="!$ctrl.fleets.isActive()")
    .container
      p.lead  {{ 'visualization_inactive_alert' | translate }}
      p.lead
        a.btn.btn-primary.btn-lg(ui-sref="main.fleets")
          | {{ 'create_fleet' | translate }}
  .main__visualization__introduction
    h2 {{ 'pdf_title' | translate }}
    p.lead(ng-bind-html="'pdf_description' | translate:{ fleets: $ctrl.fleetNamesStr(), now: ($ctrl.now | date:('date_format' | translate)) }")
    .container.main__visualization__introduction__logos
      .row.text-center
        .col-xs-3
          img.img-fluid(src='/assets/images/epfh.png')
        .col-xs-3
          img.img-fluid(src='/assets/images/oeko.png')
        .col-xs-3
          img.img-fluid(src='/assets/images/neu.png')
        .col-xs-3
          img.img-fluid(src='/assets/images/wbz.png')
  .main__visualization__summary(ng-if="$ctrl.fleets.isActive()")
    .container
      h4 {{ 'summary_title' | translate }}
      summary-table(fleets="$ctrl.fleets", summaries="$ctrl.summaries")
  .container(ng-if="$ctrl.fleets.isActive()")
    .row
      .col-md-3.push-md-9
        .main__visualization__sidebar(sticky="")
          ul.list-unstyled
            li(du-scrollspy="raw-summary")
              a(href="#raw-summary", du-smooth-scroll="") {{ 'summary_title' | translate }}
            li(du-scrollspy="overview")
              a(href="#overview", du-smooth-scroll="") {{ 'overview_title' | translate }}
            li(ng-repeat="meta in $ctrl.display", du-scrollspy="{{ meta.name }}")
              a(href="#{{ meta.name }}", du-smooth-scroll="") {{ meta.name | translate }}
            li(du-scrollspy="raw-basic")
              a(href="#raw-basic", du-smooth-scroll="") {{ 'basic_information_title' | translate }}
          a.btn.btn-link.btn-block(ng-click="$ctrl.openDownload()")
              i.fa.fa-file-pdf-o.fa-fw
              | &nbsp;{{ 'download_as_pdf' | translate }}
      .col-md-9.pull-md-3
        #overview.main__visualization__overview.card.mb-2
          h3.card-title.mx-2.my-2.main__visualization__overview__heading {{ 'overview_title' | translate }}
          table.table.table-sm
            thead
              tr
                th <!-- Empty cell -->
                th <!-- Empty cell -->
                th(ng-repeat="fleet in ::$ctrl.fleets.all()")
                  | {{ :: fleet.name }}
            tbody
              tr(ng-repeat="row in ::$ctrl.findings")
                td(ng-if="!row.key", colspan="2")
                  | {{:: row.name | translate}}
                td(ng-if="row.key && row.first")
                  | {{:: row.name | translate}}
                td(ng-if="row.key && !row.first")
                  | <!-- Empty cell -->
                td(ng-if="row.key")
                  | {{:: row.key | translate}}
                td(ng-if="!row.key", ng-repeat="fleet in $ctrl.fleets.all()")
                  | {{ :: fleet.TCO[row.name] | number:row.rounded }}{{ :: row.unit | translate }}
                td(ng-if="row.key", ng-repeat="fleet in $ctrl.fleets.all()")
                  | {{ :: fleet.TCO[row.name][row.key] | number:row.rounded }}{{ :: row.unit | translate }}

        .main__visualization__view
          .main__visualization__view__chart(ng-repeat="meta in :: $ctrl.display", meta="meta")
            chart(meta="meta", ng-if="!meta.bygroup")
            chart-grouped(meta="meta", ng-if=" meta.bygroup")
          .main__visualization__view__raw.card
            .card-block
              h3 {{ 'basic_information_title' | translate }}
            summary-table(fleets="$ctrl.fleets", summaries="$ctrl.basics", id="raw-basic")
