.main__visualization {

  &__sidebar {
    text-transform: capitalize;

    &.sticky {
      top:$spacer;
    }

    li {
      font-size:.9em;
      padding:0 $spacer;
      border-left:3px solid transparent;

      a {
        color:$text-muted;
        margin-bottom:.1em;
        display: block;
      }

      &.active {
        font-weight: bold;
        border-left:3px solid $link-color;

        a {
          color: $link-color;
        }
      }
    }
  }

  &__view {}
}
