.main__visualization {

  &__summary {
    color:white;
    background: darken($brand-primary, 15);
    border-bottom:darken($brand-primary, 25) 1px solid;

    margin-top:$spacer * -2;
    margin-bottom:$spacer * 2;

    font-size: .8em;
    white-space: nowrap;
    margin-bottom: 4 * $spacer;
    padding: 2 * $spacer;

    &__heading {
      font-weight:bold;
      text-transform: uppercase;
      color: rgba(white, .5);
      font-size:1em;
      margin-top:$spacer;
    }

    .table {
      background: $brand-inverse;

      th,
      td,
      thead th {
        border-color: lighten($brand-inverse, 5);
      }
    }
  }

  &__sidebar {

    &.sticky {
      top:$spacer;
    }

    a.btn-link {
      border:$link-color 2px solid;
      border-radius: 2px;
    }

    li {
      font-size:.9em;
      padding:0 $spacer;
      border-left:3px solid transparent;

      a {
        text-transform: capitalize;
        color:$text-muted;
        margin-bottom:.4em;
        display: block;
      }

      &.active {
        font-weight: bold;
        border-left:3px solid $link-color;

        a {
          color: $link-color;
        }
      }

    }
  }

  &__view {

    &__raw {
      font-size: .8em;
      white-space: nowrap;
      margin-bottom: 4 * $spacer;

      &__heading {
        font-weight:bold;
        text-transform: uppercase;
        color: $text-muted;
        font-size:1em;
        margin-top:$spacer;
      }

      .table {
        margin:0;
        background: mix($card-border-color, $card-bg, 15);
      }
    }
  }
}
