.main__visualization
  .main__visualization__inactive(ng-if="!$ctrl.fleets.isActive()")
    .container
      p.lead  {{ 'visualization_inactive_alert' | translate }}
      p.lead
        a.btn.btn-primary.btn-lg(ui-sref="main.fleets")
          | {{ 'create_fleet' | translate }}
  .main__visualization__introduction
    h2 {{ 'pdf_title' | translate }}
    p.lead(ng-bind-html="'pdf_description' | translate:{ fleets: $ctrl.fleetNamesStr(), now: ($ctrl.now | date:('date_format' | translate)) }")
  .main__visualization__summary(id="raw-summary", ng-if="$ctrl.fleets.isActive()")
    .container
      h4 {{ 'summary_title' | translate }}
      .main__visualization__summary__fleet(ng-repeat="fleet in $ctrl.fleets.all()")
        h5.text-xs-center.main__visualization__summary__fleet__heading {{ fleet.name }}
        .table-responsive
          table.table.table-inverse
            thead
              tr
                th(style="min-width: 5em")
                  span.sr-only {{ 'group' | translate }}
                th(ng-repeat="input in $ctrl.summaries")
                  | {{ input.meta.name | translate }}
            tbody
              tr(ng-repeat="group in fleet.groups.all() | filter:{ special: false }")
                td
                  span.tag(ng-style="{ background: group.vars.group_color  }")
                    | {{ group.name }}
                td(ng-repeat="input in $ctrl.summaries")
                  span(ng-if=":: input.isVisible(group.insights)")
                    span(ng-if=":: $ctrl.isNumber(group.insights[input.meta.name])")
                      | {{ group.insights[input.meta.name] | number }}{{ input.meta.unit | translate }}
                    span(ng-if=":: !$ctrl.isNumber(group.insights[input.meta.name])")
                      | {{ group.insights[input.meta.name] | translate }}
                  span(ng-if=":: !input.isVisible(group.insights) || group.insights[input.meta.name] === undefined")
                    | {{ 'na' | translate }}
  .container(ng-if="$ctrl.fleets.isActive()")
    .row
      .col-md-3.push-md-9
        .main__visualization__sidebar(sticky="")
          ul.list-unstyled
            li(du-scrollspy="raw-summary")
              a(href="#raw-summary", du-smooth-scroll="") {{ 'summary_title' | translate }}
            li(ng-repeat="meta in $ctrl.display", du-scrollspy="{{ meta.name }}")
              a(href="#{{ meta.name }}", du-smooth-scroll="") {{ meta.name | translate }}
            li(du-scrollspy="raw-basic")
              a(href="#raw-basic", du-smooth-scroll="") {{ 'basic_information_title' | translate }}
          a.btn.btn-link.btn-block(ng-click="$ctrl.openDownload()")
              i.fa.fa-file-pdf-o.fa-fw
              | &nbsp;{{ 'download_as_pdf' | translate }}

      .col-md-9.pull-md-3
        .main__visualization__view
          .main__visualization__view__chart(ng-repeat="meta in :: $ctrl.display", meta="meta")
            chart(meta="meta", ng-if="!meta.bygroup")
            chart-grouped(meta="meta", ng-if=" meta.bygroup")

          .card.main__visualization__view__raw(id="raw-basic")
            .card-block
              h3 {{ 'basic_information_title' | translate }}
            .main__visualization__view__raw__fleet(ng-repeat="fleet in $ctrl.fleets.all()")
              h5.text-xs-center.main__visualization__view__raw__fleet__heading {{ fleet.name }}
              .table-responsive
                table.table
                  thead
                    tr
                      th
                        span.sr-only {{ 'group' | translate }}
                      th(ng-repeat="input in $ctrl.basics")
                        | {{ input.meta.name | translate }}
                  tbody
                    tr(ng-repeat="group in fleet.groups.all() | filter:{ special: false }")
                      td
                        span.tag(ng-style="{ background: group.vars.group_color  }") {{ group.name }}
                      td(ng-repeat="input in $ctrl.basics")
                        span(ng-if=":: input.isVisible(group.insights)")
                          span(ng-if=":: $ctrl.isNumber(group.insights[input.meta.name])")
                            | {{ group.insights[input.meta.name] | number }}{{ input.meta.unit | translate }}
                          span(ng-if=":: !$ctrl.isNumber(group.insights[input.meta.name])")
                            | {{ group.insights[input.meta.name] | translate }}
                        span(ng-if=":: !input.isVisible(group.insights) || group.insights[input.meta.name] === undefined")
                          | {{ 'na' | translate }}
