.main__fleets__groups__edit {
  &__header {
    padding-bottom:$spacer;
  }

  label i.fa {
    color:$text-muted;
    padding-left:.5em;
  }

  &__sidebar {

    margin-bottom:$spacer;

    &.sticky {
      top:$spacer;
    }

    &__footer {
      background: inherit;
      white-space: nowrap;
      color:$card-border-color;
      .btn-link {
        padding-left:$spacer/2;
        padding-right:$spacer/2;
      }
    }
  }

  &__context {

    font-size:0.9em;

    &__heading {
      position: relative;
      cursor: pointer;
      z-index:100;
      padding:$spacer;
      margin:0;
      color: $body-color;
      font-weight:300;

      i.fa {
        color: inherit;
        margin-right:$spacer;
        padding-right:$spacer;
        border-right:1px solid rgba($body-color, .7);
      }

      &__color {
        position: absolute;
        bottom:0;
        left:0;
        right:0;
        top:0;
        z-index: -1;

        &:after {
          content:"";
          position: absolute;
          top:0;
          left:0;
          right:0;
          bottom:1px;
          @include gradient-y(rgba(white, 0.5), rgba(white, 0.6));
        }
      }
    }

    fieldset  {
      padding:$spacer 0;
      margin:$spacer 0;

      &:first-child {
        margin-top:0;
      }

      &:last-child {
        margin-bottom:0;
      }

      legend {
        text-transform: uppercase;
        font-weight: bold;
        font-size:1em;
        width: auto;
      }

      .form-group input[type=checkbox] {
        position: absolute;
        top:50%;
        left:$spacer;
        transform: translateY(-50%) scale(1.1);
      }
    }

  }

}
