navbar
.container.account__signup
  .card.card-block
    .card-title
      h1 {{ 'signup_title' | translate }}
    .card-text
      form.form(name='form', ng-submit='vm.register(form)', novalidate='')
        .form-group(ng-class="{ 'has-success': form.email.$valid && vm.submitted,\
        'has-error': form.email.$invalid && vm.submitted }")
          label(for="input-email") {{ 'email' | translate }}
          input.form-control(type='email', id='input-email', name='email', ng-model='vm.user.email', required='')
          p.help-block.text-danger(ng-show='form.email.$error.required && vm.submitted')
            | {{ 'email_required' | translate }}
          p.help-block.text-danger(ng-show='form.email.$error.mongoose')
            | {{ vm.errors.email }}
        .form-group(ng-class="{ 'has-success': form.password.$valid && vm.submitted,\
        'has-error': form.password.$invalid && vm.submitted }")
          label(for="input-password") {{ 'password' | translate }}
          input.form-control(type='password', id='input-password', name='password', ng-model='vm.user.password', ng-minlength='3', required='', mongoose-error='')
          p.help-block.text-danger(ng-show='(form.password.$error.minlength || form.password.$error.required) && vm.submitted')
            |  {{ 'password_length' | translate }}
          p.help-block.text-danger(ng-show='form.password.$error.mongoose')
            | {{ vm.errors.password }}
        .form-group(ng-class="{ 'has-success': form.confirmPassword.$valid && vm.submitted,\
        'has-error': form.confirmPassword.$invalid && vm.submitted }")
          label(for="input-confirmPassword") {{ 'password_confirm' | translate }}
          input.form-control(type='password', id='input-confirmPassword', name='confirmPassword', ng-model='vm.user.confirmPassword', match='vm.user.password', ng-minlength='3', required='')
          p.help-block.text-danger(ng-show='form.confirmPassword.$error.match && vm.submitted')
            |  {{ 'password_match' | translate }}
        div
          button.btn.btn-primary.btn-block(type='submit')
            | {{ 'signup_submit' | translate }}

  .card.card-block.text-xs-center
    | {{ 'already_account' | translate }}
    =" "
    a(ui-sref='login') {{ 'login_link' | translate }}
