.account {

  &__login, &__settings, &__signup, &__forgot, &__reset {

    margin-top:$spacer * $line-height-base * 2;

    .card {
      margin:auto;
      margin-bottom:$spacer * $line-height-base;
      max-width: 360px;

      &:last-child:not(:first-child) {
        background:mix($card-border-color, $card-bg);
      }

      .card-title {
        text-transform: uppercase;
        text-align: center;
        h1 {
          margin:0 0 2 * $spacer * $line-height-base 0;
          font-size:1.4rem;
          font-weight: bolder;
          color:$brand-primary;
        }
      }
    }
  }
}
